.site-blog article {
    max-width: 960px;
    width: 100%;
    margin: 0 auto 100px;

    &:last-of-type {
        margin-bottom: 0;
    }

}

.entry-header {
    .post-date {
        margin-bottom: 5px;
    }

    .entry-title {
        margin-top: 0px;
        margin-bottom: 15px;
    }
}

.entry-content {
    color: lighten($brand-gray, 20%);
    line-height: 1.75;
}
