html {
    font-size: 13px;

    @include media($screen-medium) {
        font-size: 14px;
    }

    @include media($screen-large) {
        font-size: 16px;        // 1rem = 16px
    }
}

body {
    background-color: $brand-teal;
}

.hero {
    @include size(100% auto);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    min-height: 75vh;
    padding: 40px 0;

    @include media($screen-large) {
        @include outer-container;
        @include size(100% 75vh);
        padding: 0;
    }
}

.outer-container {
    @include display(flex);
    @include flex-direction(column);
    width: 90%;
    margin: 0 auto;

    @include media($screen-large) {
        width: 100%;
    }
}

.headline {
    padding: 0;
    margin: 0 0 10px;

    li {
        list-style-type: none;
        display: inline;
    }

    @include media($screen-large) {
        li {
            display: block;
        }
    }
}

.instafeed {
    margin: 0 auto;
    display: block;
}
