.currently-widgets {
    @include span-columns(4 of 12);
    @include shift(1 of 12);
    float: left;
    display: inline-block;
}

.currently-insta {
    padding-top: 50px;

    .instafeed {
        width: 100%;

        a {
            display: inline-block;
            width: 32%;
            margin: 0 2px;
        }
    }
}
