#post {
    max-width: 960px;
    margin: 0 auto !important;
    width: 90%;
    float: none;
    clear: both;
}

.entry-meta {
	a {
		color: $brand-teal;

		&:hover,
		&:active {
			color: darken($brand-teal, 20%);
		}
	}
}

img {
    display: block;

    &.aligncenter {
        margin: 0 auto !important;
    }

    &.alignright {
        float: right;
    }
}
