.copy {
  font-size: 16px;
  letter-spacing: 1px;

  &.sans {
    font-family: $sans;
    font-weight: 300;
  }

  &.serif {
    font-family: $serif;
  }

  &.alt {
    font-family: $alt;
  }

  strong {
    font-size: 15px;
    font-weight: $light;
    margin-bottom: -25px;
  }

  @include media($screen-medium) {
    font-size: 18px;
    letter-spacing: 1.5px;

    strong {
      font-size: 18px;
    }
  }

  &.light {
    color: $ow;
  }

  &.dark,
  &.dark a {
    color: $ob;
  }

  &.dark a:hover {
    color: $magenta;
  }

  &.smallest {
    font-size: 12px;

    @include media($screen-medium) {
      font-size: 14px;
    }
  }

  &.mid {
    font-size: 18px;

    @include media($screen-medium) {
      font-size: 24px;
    }
  }

  &.larger {
    font-size: 24px;
    font-weight: $regular;

    @include media($screen-medium) {
      font-size: 27px;
    }

    @include media($screen-large) {
      font-size: 32px;
      line-height: 1.5;
    }
  }

  &.loud {
    text-transform: uppercase;
  }
}

.copy a {
  @include transition(all .5s ease-in-out);
  color: $ow;
  border-bottom: 3px solid $ow;
  text-decoration: none;

  &:hover {
    @include transition(all .5s ease-in-out);
    color: $ob;
    border-bottom: 3px solid transparent;
  }

  &:nth-of-type(4n){
    padding-top: 40px;
    display: block;
  }
}
