.copy {
  font-family: $sans;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;

  strong {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: -25px;
  }

  &.light {
    color: $ow;
  }

  &.dark,
  &.dark a {
    color: $ob;
  }

  &.dark a:hover {
    color: $magenta;
  }

  &.smallest {
    font-size: 12px;

    @include media($screen-medium) {
      font-size: 14px;
    }
  }

  &.larger {
    font-size: 24px;

    @include media($screen-medium) {
      font-size: 27px;
    }

    @include media($screen-large) {
      font-size: 32px;
      line-height: 1.5;
    }
  }

  &.loud {
    text-transform: uppercase;
  }

  @include media($screen-medium) {
    font-size: 21px;
    letter-spacing: 1.5px;

    strong {
      font-size: 18px;
    }
  }
}

.copy a {
  color: $ow;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:nth-of-type(4n){
    padding-top: 40px;
    display: block;
  }
}
