h1, h2, h3, h4, h5, h6 {
	clear: both;
}

.logo {
  font-family: $alt;
  font-size: 3.2rem;
  font-weight: 700;
  color: $ow;

  @include media($screen-medium) {
    font-size: 4.5rem;
  }
}

.content--heading {
  font-family: $serif;
  font-size: 90px;
  line-height: 1;
  font-weight: 700;
  color: $ow;
  display: none;

  @include media($screen-medium) {
    font-size: 120px;
    display: block;
  }

  @include media($screen-large) {
    font-size: 150px;
  }
}

.subheadline {
	font-family: $sans;
	font-size: 13px;
	font-weight: $light;
	color: $magenta-light;
	margin-bottom: 0px;
	text-transform: uppercase;

	@include media($screen-medium) {
		font-size: 15px;
		letter-spacing: 1.5px;
	}
}
