h1, h2, h3, h4, h5, h6 {
	clear: both;
}

/* --- Homepage Template Styles ---- */
.headline {
	font-family: $font__serif;
	line-height: 1.3;
	color: #fff;
	font-weight: 700;
	font-size: 36px;
}

.headline--largest {
	font-size: 60px;
}
