// Navigation
.menu-item a{
  font-family: $sans;
  font-weight: 300;
  font-size: 14px;
  color: $ow;
  text-decoration: none;
  letter-spacing: 1px;

  &:hover {
    color: $ow;
    margin-bottom: 10px;
    border-bottom: 3px solid $ow;
  }

  &:active,
  &.active {
    color: $ow;
    font-weight: 700;
  }

  @include media($screen-medium) {
    font-size: 18px;
  }
}

.logo--link {
  text-decoration: none;
  color: $ow;

  &:hover {
    color: $ow;
  }
}

// General Link Styles
.link.sans {
  font-family: $sans;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: $ob;
  text-decoration: none;

  &:hover {
    color: $ow;
  }

  &.dark {
    color: $ob;

    &:hover {
      color: $magenta;
    }
  }

  &.loud {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
  }
}

.button {
  border: 1px solid $magenta;
  padding: 15px 20px;
  margin: 15px 0;
  display: block;
  max-width: 200px;
  text-align: center;

  &:hover,
  &:active {
    border: 1px solid #fff;
    background: $magenta-light;
  }
}

// Footer Link Styles
.footer-copy a {
  color: $ow;
  text-decoration: none;

  &:hover,
  &:active {
    color: $ob;
  }
}
