.site-header {
  @include span-columns(12 of 12);
  @include linear-gradient(135deg, $orange 0%, $magenta 100%);
  height: auto;
  z-index: 90;

  .logo {
    @include span-columns(12);
    margin: 0px auto 15px;
    text-align: center;

    @include media($screen-xlarge) {
      @include span-columns(2);
      height: 90px;
    }
  }

  @include media($screen-xlarge) {
    max-width: 1280px;
    margin: 0 auto;
    float: none;
    clear: both;
  }
}

// Home page specific styles
.home {
  .site-header {
    background: none;
  }
}
