.main-navigation {
  @include span-columns(12);
  padding-bottom: 25px;

  ul, li {
    list-style-type: none;
  }

  @include media($screen-xlarge) {
    @include span-columns(4 of 12);
    @include shift(6);
    padding-bottom: 0;
    display: inline-block;
    margin-top: 60px;
  }
}

#primary-menu {
  @include span-columns(12);
  padding: 0 10px;

  @include media($screen-medium) {
    padding: 0;
  }
}

.menu-item {
  @include span-columns(6 of 12);
  text-align: center;
  margin: -15px 0 0;
  padding: 0;
}
