.main-navigation {
  @include span-columns(12);
  padding-bottom: 25px;

  ul, li {
    list-style-type: none;
  }
}

#primary-menu {
  @include span-columns(12);
  padding: 0 10px;

  @include media($screen-medium) {
    padding: 0;
  }
}

.menu-item {
  @include span-columns(3 of 12);
  @include shift(.75);
  text-align: center;
  margin: -15px 0 0;
  padding: 0;

  &:first-of-type{
    @include span-columns(5 of 12);
  }

  @include media($screen-medium){
    @include span-columns(4 of 12);

    &:first-of-type {
      @include span-columns(4 of 12);
    }
  }
}
