$brand-teal:          #41c8b9;
$brand-gray:          #363636;
$brand-mustard:       #dc9d49;
$off-white:           #f3f5f6;
$white:               #fff;
$other-white:         rgba(255,255,255,0.9);

// social-colors
$facebook-blue:       #3d599b;
$twitter-blue:        #0087b2;
$linkedin-blue:       #0074b5;
