// break points
$screen-small:        320px;
$screen-medium:       570px;
$screen-large:        960px;
$screen-xlarge:       1050px;
$screen-xxlarge:      1200px;

//z index
$layer-subzero:       -1;
$layer-zero:          0;
$layer-one:           1000;
$layer-two:           2000;
$layer-three:         3000;
