// Defined Variables

  $brand-font-family: 'proxima-nova', 'Proxima Nova', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  $brand-serif: 'Merriweather', Georgia, Times, serif;

  $font-weight-light:   300;
  $font-weight-regular: 400;
  $font-weight-bold:    700;

  // 1rem = 14px
  $font-size-title:     2.5rem;
  $font-size-body:      2.1rem;
  $font-size-small:     1.5rem;
  $font-size-footer:    .75rem;
