// Defined Variables
  $sans: 'filson-soft', 'Filson Soft', 'Raleway', Helvetica, Arial, sans-serif;
  $alt: 'freight-macro-pro', 'Freight Macro Pro', Georgia, Times, serif;
  $serif: 'freight-text-pro', 'Freight Text Pro', Georgia, Times, serif;

  $light: 200;
  $regular: 400;
  $medium:  500;
  $bold:    700;

  // 1rem = 14px
  $outlandish:         13.750rem;
  $headline:            1.313rem;
  $subheadline:           1.5rem;
  $copy:                1.125rem;
  $footer:               0.75rem;

//  Links
a {
    &:active,
    &:hover {
        @include transition(all .3s ease-in-out);
    }
}


// Base
body {
    font-family: $sans;
    font-size: 16px;
    line-height: 1.5;
    color: $ow;
}
