.social-links {
  margin-top: 15px;

  ul, li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;

    .icon {
      @include transition(all .4s ease-in-out);
      color: $ob;

      &:hover,
      &:active {
        @include transition(all .4s ease-in-out);
        color: $magenta-light;
      }
    }

    i {
      font-size: 24px;
      margin: 0 5px;
    }
  }
}
