.site-main {
  @include span-columns(12);
  margin: 0 auto;
  padding: 50px 15px;
  height: auto;

  @include media($screen-medium) {
    padding: 80px;
  }

  @include media($screen-large) {
    padding: 50px 35px 50px;
    max-width: 1280px;
    margin: 0 auto !important;
    float: none;
    clear: both;
  }
}

.page-template-homepage {
  .site-main {
    padding-top: 200px;
  }
}
